<div class="callToAction">
  <div class="wrapperCallToAction">
    <h3>VISIT YOUR LOCAL MOUNTAIN STATES FORD DEALER</h3>
    <a href="{{section.settings.callToActionURL}}">
      <button class="buttons">Locate Dealer</button>
    </a>
  </div>
</div>
<style>
  .callToAction {
    background-image: url('https://cdn.shopify.com/s/files/1/0832/5244/5464/files/7fd43e27e092879c2eaab9e803264b36.jpg?v=1696104810');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wrapperCallToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapperCallToAction h3 {
    width: 50vw;
    color: #00095B;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
</style>

{% schema %}
  {
    "name": "Call To Action",
    "settings": [
      {
        "type": "url",
        "id": "callToActionURL",
        "label": "Button URL"
      }

    ],
    "presets": [
      {
        "name": "Call to Action"
      }
    ]
  }
{% endschema %}