<div class="featuredProducts">
  <h3>Featured Products</h3>
  {% for product in collections['Hydrogen'].products %}
    <div class="product">
      <img src="{{ product.featured_image | img_url  }}" alt="{{ product.title }}" />
      <h2>{{ product.title }}</h2>
      <p>Precio: {{ product.price }}</p>
    </div>
  {% endfor %}
</div>

<style>
  .product img {
    width: 450px;
  }
</style>