<div class="containerFeatured">
  <div class="featuredProducts">
    <h3>Featured Products</h3>
    <div class="productsWrapper">
      {% for product in collections['Hydrogen'].products limit: 5 %}
        <div class="product">
          <img src="{{ product.featured_image | image_url: width: 1920 | prepend: "https:" }}" alt="{{ product.title }}" />
          <h2>{{ product.title }}</h2>
          <p>Precio: <span class="price">{{ product.price }}</span></p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<style>
  .containerFeatured {
    background-color: #f7f7f7;
    padding: 24px 32px;
  }
  .featuredProducts h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #00095B;
  }

  .productsWrapper {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 175px;
    font-family: 'Kanit', sans-serif;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  .product h2, .product p{
      font-weight: bold;
  }
  .product img {
    width: 175px;
    height: 200px;
    transition: transform 0.2s ease;
    
  }
  .product img:hover{
    transition: transform 0.2s ease;
    transform: scale(1.05);
  }
  .price{
    color: #00095B;
    font-weight: 500;
  }
  @media(min-width: 769px) {
    .featuredProducts h3{
      font-size: 2rem;
    }
    .product{
      width: 220px;
    }
    .product img {
    width: 220px;
    height: 250px;
    }
  }
  @media(min-width: 1023px) {
    .featuredProducts h3 {
    font-size: 3rem;
}
  }
  @media(min-width: 1439px) {
    .product img {
    width: 275px;
    height: 320px;
    }
    .product {
        width: 280px;
    }
  }

</style>