<div class="containerFeatured">
  <div class="featuredProducts">
    <h3>Featured Products</h3>
    <div class="productsWrapper">
      {% for product in collections['Hydrogen'].products %}
        <div class="product">
          <img src="{{ product.featured_image | image_url: width: 1920 | prepend: "https:" }}" alt="{{ product.title }}" />
          <h2>{{ product.title }}</h2>
          <p>Precio: {{ product.price }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<style>
  .containerFeatured {
    background-color: #f7f7f7;
    padding: 24px 32px;
  }
  .featuredProducts h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #00095B;
  }
  .productsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product img {
    width: 175px;
    height: 200px;
  }
</style>