<div class="featuredProducts">
  <h3>Featured Products</h3>
  {% for product in collections['Hydrogen'].products %}
    <div class="product">
      <img src="{{ product.images.src[0] | img_url: width:1080}}" alt="{{ product.title }}" />
      <h2>{{ product.title }}</h2>
      <p>Precio: {{ product.price }}</p>
    </div>
  {% endfor %}
</div>