{% for product in collections['Hydrogen'].products %}
  <div class="product">
    <h2>{{ product.title }}</h2>
    <p>Precio: {{ product.price }}</p>
    <img src="{{ product.image.src }}" alt="{{ product.title }}" />
  </div>
{% endfor %}