<div class="headerMainContent formMain">
  <div class="formWrapper">
    <div class="formInfo firstFormInfo">
      <div><img src="https://cdn.shopify.com/s/files/1/0832/5244/5464/files/D_and_D_logo.svg?v=1696082767" alt=""></div>
      <div class='bottonPartFirstFormInfo'>
        <img src="https://cdn.shopify.com/s/files/1/0832/5244/5464/files/logo_2020_1_1.svg?v=1695999866" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0832/5244/5464/files/Line_1.png?v=1695991860" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0832/5244/5464/files/Component_1.svg?v=1695991865" alt="">
      </div>
    </div>
    <div class="formInfo secondFormInfo">
      <div class="formTexts">
        <h3>Enter now for a chance to win</h3>
        <h2>two tickets to dozers & dirt</h2>
        <p>Includes: A chance for your child to operate heavy equipment, get up close to a RAVEN helicopter, & more!</p>
      </div>
      <div class="formInputWrapper">
        {% form 'contact' %}
          {{ form.errors | default_errors }}

          <div class="fullName">

            <input
              type="text"
              name="contact[first_name]"
              id="first-name"
              placeholder="First name"
              class="formulary" />
            <input
              type="text"
              name="contact[last_name]"
              id="last-name"
              placeholder="Last name"
              class="formulary" />
          </div>
          <div class="email">

            <input
              type="email"
              name="contact[email]"
              id="email"
              placeholder="Email"
              class="formulary bottonFormulary" />
          </div>

          <div class="phone">

            <input
              type="tel"
              name="contact[phone]"
              id="phone"
              placeholder="Phone"
              class="formulary bottonFormulary" />
          </div>


          <div class="zipCode">
            <input
              name="contact[zipcode]"
              id="zipCode"
              placeholder="Zip Code"
              class="formulary bottonFormulary" />
          </div>

          <div class="submit">
            <input
              type="submit"
              value="Submit"
              class="buttons formButton" />
          </div>
        {% endform %}

      </div>
      <div class="formTexts">
        <span>NO PURCHASE NECESSARY. Starts 9/13/23; Ends 9/22/23. Winners will be selected & notified xxxxxxxx.</span>
      </div>
    </div>
  </div>
</div>

<style>
  @media(min-width: 750px) {
    .formMain {
      background-image: url('https://cdn.shopify.com/s/files/1/0832/5244/5464/files/ba5820c5acf8872790f8ca3ff9043af7.jpg?v=1696038766');
      height: 100vh;
    }
    .formWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      gap: 120px;
    }
    .formInfo {
      display: flex;
      flex-direction: column;
      width: 40vw;
    }
    .firstFormInfo {
      align-items: center;
    }
    .bottonPartFirstFormInfo {
      display: flex;
      gap: 25px;
      margin-top: 12px;
    }
    .formTexts {
      color: #FFF;
      font-family: 'Kanit', sans-serif;

    }
    .formTexts h3 {
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .formTexts h2 {
      font-size: 88px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 10px 0;
    }
    .formTexts p {
      font-size: 24px;
      font-weight: 500;
    }
    .formTexts span {
      font-size: 16px;
      font-weight: 400;
    }
    .formulary {
      width: 97%;
      color: #BBB;
      font-family: 'Kanit', sans-serif;
      font-size: 20px;
      font-weight: 400;
      padding: 20px;
      border-radius: 4px;
      margin-bottom: 16px;
    }
    .fullName {
      display: flex;
      gap: 16px;
      padding-top: 24px;
    }
    .fullName input {
      padding-right: 10px;
    }
    .bottonFormulary {
      padding-right: 0;
    }
    .formButton {
      padding: 24px;
      margin-bottom: 16px;
    }
  }
</style>
{% schema %}
  {
    "name": "form",

    "presets": [
      {
        "name": "form"

      }
    ]
  }
{% endschema %}