<div class="globo-formbuilder" data-id="16276" id="globo-formbuilder-16276">d<div>
<div class="globo-form default-form globo-form-id-16276">
<style>
.globo-form-id-16276 .globo-form-app{
    max-width: 450px;
    width: -webkit-fill-available;
    
    
}

.globo-form-id-16276 .globo-form-app .globo-heading{
    color: rgba(197,67,67,1)
}
.globo-form-id-16276 .globo-form-app .globo-description,
.globo-form-id-16276 .globo-form-app .header .globo-description{
    color: #6c757d
}
.globo-form-id-16276 .globo-form-app .globo-label,
.globo-form-id-16276 .globo-form-app .globo-form-control label.globo-label,
.globo-form-id-16276 .globo-form-app .globo-form-control label.globo-label span.label-content{
    color: rgba(160,34,34,1);
    text-align: left !important;
}
.globo-form-id-16276 .globo-form-app .globo-label.globo-position-label{
    height: 20px !important;
}
.globo-form-id-16276 .globo-form-app .globo-form-control .help-text.globo-description{
    color: #6c757d
}
.globo-form-id-16276 .globo-form-app .globo-form-control .checkbox-wrapper .globo-option,
.globo-form-id-16276 .globo-form-app .globo-form-control .radio-wrapper .globo-option
{
    color: rgba(230,50,50,1)
}
.globo-form-id-16276 .globo-form-app .footer{
    text-align:left;
}
.globo-form-id-16276 .globo-form-app .footer button{
    border:1px solid rgba(55,169,232,1);
    
}
.globo-form-id-16276 .globo-form-app .footer button.submit,
.globo-form-id-16276 .globo-form-app .footer button.checkout,
.globo-form-id-16276 .globo-form-app .footer button.action.loading .spinner{
    background-color: rgba(55,169,232,1);
    color : #ffffff;
}
.globo-form-id-16276 .globo-form-app .globo-form-control .star-rating>fieldset:not(:checked)>label:before {
    content: url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="rgba(55,169,232,1)" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg>');
}
.globo-form-id-16276 .globo-form-app .globo-form-control .star-rating>fieldset>input:checked ~ label:before {
    content: url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="rgba(55,169,232,1)" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>');
}
.globo-form-id-16276 .globo-form-app .globo-form-control .star-rating>fieldset:not(:checked)>label:hover:before,
.globo-form-id-16276 .globo-form-app .globo-form-control .star-rating>fieldset:not(:checked)>label:hover ~ label:before{
    content : url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="rgba(55,169,232,1)" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>')
}
.globo-form-id-16276 .globo-form-app .globo-form-control .radio-wrapper .radio-input:checked ~ .radio-label:after {
    background: rgba(55,169,232,1);
    background: radial-gradient(rgba(55,169,232,1) 40%, #fff 45%);
}
.globo-form-id-16276 .globo-form-app .globo-form-control .checkbox-wrapper .checkbox-input:checked ~ .checkbox-label:before {
    border-color: rgba(55,169,232,1);
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
    background-color: rgba(55,169,232,1);
}
.globo-form-id-16276 .globo-form-app .step.-completed .step__number,
.globo-form-id-16276 .globo-form-app .line.-progress,
.globo-form-id-16276 .globo-form-app .line.-start{
    background-color: rgba(55,169,232,1);
}
.globo-form-id-16276 .globo-form-app .checkmark__check,
.globo-form-id-16276 .globo-form-app .checkmark__circle{
    stroke: rgba(55,169,232,1);
}
.globo-form-id-16276 .floating-button{
    background-color: rgba(55,169,232,1);
}
.globo-form-id-16276 .globo-form-app .globo-form-control .checkbox-wrapper .checkbox-input ~ .checkbox-label:before,
.globo-form-app .globo-form-control .radio-wrapper .radio-input ~ .radio-label:after{
    border-color : rgba(55,169,232,1);
}
.globo-form-id-16276 .flatpickr-day.selected, 
.globo-form-id-16276 .flatpickr-day.startRange, 
.globo-form-id-16276 .flatpickr-day.endRange, 
.globo-form-id-16276 .flatpickr-day.selected.inRange, 
.globo-form-id-16276 .flatpickr-day.startRange.inRange, 
.globo-form-id-16276 .flatpickr-day.endRange.inRange, 
.globo-form-id-16276 .flatpickr-day.selected:focus, 
.globo-form-id-16276 .flatpickr-day.startRange:focus, 
.globo-form-id-16276 .flatpickr-day.endRange:focus, 
.globo-form-id-16276 .flatpickr-day.selected:hover, 
.globo-form-id-16276 .flatpickr-day.startRange:hover, 
.globo-form-id-16276 .flatpickr-day.endRange:hover, 
.globo-form-id-16276 .flatpickr-day.selected.prevMonthDay, 
.globo-form-id-16276 .flatpickr-day.startRange.prevMonthDay, 
.globo-form-id-16276 .flatpickr-day.endRange.prevMonthDay, 
.globo-form-id-16276 .flatpickr-day.selected.nextMonthDay, 
.globo-form-id-16276 .flatpickr-day.startRange.nextMonthDay, 
.globo-form-id-16276 .flatpickr-day.endRange.nextMonthDay {
    background: rgba(55,169,232,1);
    border-color: rgba(55,169,232,1);
}
.globo-form-id-16276 .globo-paragraph,
.globo-form-id-16276 .globo-paragraph * {
    background: #fff !important;
    color: rgba(219,55,55,1) !important;
    width: 100%!important;
}
</style>
<div class="globo-form-app default-layout">
    <div class="header dismiss hidden" onclick="Globo.FormBuilder.closeModalForm(this)">
        <svg width="20" height="20" viewBox="0 0 20 20" class="" focusable="false" aria-hidden="true"><path d="M11.414 10l4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path></svg>
    </div>
    <form class="g-container" novalidate="" action="https://app.powerfulform.com//api/front/form/16276/send" method="POST" enctype="multipart/form-data" data-id="16276">
        
            
            <div class="header">
                <h3 class="title globo-heading">Contact us</h3>
                
                <div class="description globo-description">Leave your message and we'll get back to you shortly.</div>
                
            </div>
            
        
        
            <div class="globo-formbuilder-wizard" data-id="16276">
                <div class="wizard__content">
                    <header class="wizard__header">
                        <div class="wizard__steps">
                        <nav class="steps hidden">
                            
                                
                                
                                
                                <div class="step last" data-step="0">
                                    <div class="step__content">
                                        <p class="step__number"></p>
                                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52">
                                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                                        </svg>
                                        <div class="lines">
                                            
                                                <div class="line -start"></div>
                                            
                                            <div class="line -background">
                                            </div>
                                            <div class="line -progress">
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            
                        </nav>
                        </div>
                    </header>
                    <div class="panels" style="height: 292px;">
                        
                        
                        
                        
                        <div class="panel movingIn block-container" data-id="16276" data-step="0" style="padding-top:0">
                            
                                
                                    









<div class="globo-form-control layout-2-column">
    <label for="16276-text" class="flat-label globo-label "><span class="label-content" data-label=""></span><span></span></label>
    <div class="globo-form-input">
        
        <input type="text" data-type="text" class="flat-input" id="16276-text" name="text" placeholder="First Name">
    </div>
    
        <small class="help-text globo-description"></small>
    
    <small class="messages"></small>
</div>


                                
                                    









<div class="globo-form-control layout-2-column">
    <label for="16276-text-2" class="flat-label globo-label "><span class="label-content" data-label=""></span><span></span></label>
    <div class="globo-form-input">
        
        <input type="text" data-type="text" class="flat-input" id="16276-text-2" name="text-2" placeholder="Last Name">
    </div>
    
        <small class="help-text globo-description"></small>
    
    <small class="messages"></small>
</div>


                                
                                    









<div class="globo-form-control layout-1-column">
    <label for="16276-email" class="flat-label globo-label "><span class="label-content" data-label=""></span><span></span></label>
    <div class="globo-form-input">
        
        <input type="text" data-type="email" class="flat-input" id="16276-email" name="email" placeholder="Email">
    </div>
    
        <small class="help-text globo-description"></small>
    
    <small class="messages"></small>
</div>


                                
                                    









<div class="globo-form-control layout-1-column">
    <label for="16276-phone" class="flat-label globo-label "><span class="label-content" data-label=""></span><span></span></label>
    <div class="globo-form-input">
        
        <input type="text" data-type="phone" class="flat-input" id="16276-phone" name="phone" placeholder="Phone Number" default-country-code="">
    </div>
    
        <small class="help-text globo-description"></small>
    
    <small class="messages"></small>
</div>


                                
                                    









<div class="globo-form-control layout-1-column">
    <label for="16276-text-7" class="flat-label globo-label "><span class="label-content" data-label=""></span><span></span></label>
    <div class="globo-form-input">
        
        <input type="text" data-type="text" class="flat-input" id="16276-text-7" name="text-7" placeholder="Zip Code">
    </div>
    
        <small class="help-text globo-description"></small>
    
    <small class="messages"></small>
</div>


                                
                            
                            
                                
                            
                        </div>
                        
                    </div>
                    
                        
                            <p style="text-align: right;font-size:small;display: block !important;">Powered by <a href="https://globosoftware.net" target="_blank">Globo</a> <a href="https://apps.shopify.com/form-builder-contact-form" target="_blank">Form</a></p>
                        
                    
                    <div class="message error" data-other-error="">
                        <div class="content"></div>
                        <div class="dismiss" onclick="Globo.FormBuilder.dismiss(this)">
                            <svg width="20" height="20" viewBox="0 0 20 20" class="" focusable="false" aria-hidden="true"><path d="M11.414 10l4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path></svg>
                        </div>
                    </div>
                    
                        
                        <div class="message success">
                            <div class="content"><h4>Thanks for getting in touch!&nbsp;</h4><p><br></p><p>We appreciate you contacting us. One of our colleagues will get back in touch with you soon!</p><p><br></p><p>Have a great day!</p></div>
                            <div class="dismiss" onclick="Globo.FormBuilder.dismiss(this)">
                                <svg width="20" height="20" viewBox="0 0 20 20" class="" focusable="false" aria-hidden="true"><path d="M11.414 10l4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path></svg>
                            </div>
                        </div>
                        
                    
                    <div class="footer wizard__footer">
                        
                            
                        
                        <button type="button" class="action previous hidden flat-button disabled">Previous</button>
                        <button type="button" class="action next submit flat-button wizard__submit" data-submitting-text="" data-submit-text="<span class=&quot;spinner&quot;></span>Submit" data-next-text="Next"><span class="spinner"></span>Submit</button>
                        
                        <p class="wizard__congrats-message"></p>
                    </div>
                </div>
            </div>
        
        <input type="hidden" value="" name="customer[id]">
        <input type="hidden" value="" name="customer[email]">
        <input type="hidden" value="" name="customer[name]">
        <input type="hidden" value="magdevsandbox" name="page[title]">
        <input type="hidden" value="https://magdevsandbox.myshopify.com/" name="page[href]">
        <input type="hidden" value="{&quot;text&quot;:&quot;&quot;,&quot;text-2&quot;:&quot;&quot;,&quot;email&quot;:&quot;&quot;,&quot;phone&quot;:&quot;&quot;,&quot;text-7&quot;:&quot;&quot;}" name="_keyLabel">
    </form>
    
    <div class="message success">
        <div class="content"><h4>Thanks for getting in touch!&nbsp;</h4><p><br></p><p>We appreciate you contacting us. One of our colleagues will get back in touch with you soon!</p><p><br></p><p>Have a great day!</p></div>
        <div class="dismiss" onclick="Globo.FormBuilder.dismiss(this)">
            <svg width="20" height="20" viewBox="0 0 20 20" class="" focusable="false" aria-hidden="true"><path d="M11.414 10l4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path></svg>
        </div>
    </div>
    
</div>

</div>
</div></div>