<div class="headerMainContent formMain">
  <div class="formInfo">
    <div></div>
    <div></div>
  </div>
  <div class="formInfo">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<style>
  .formMain {
    background-image: url('https://cdn.shopify.com/s/files/1/0832/5244/5464/files/ba5820c5acf8872790f8ca3ff9043af7.jpg?v=1696038766');
  }
</style>