<div class="headerMainContent">
  <div>hola</div>
  <div>soy
  </div>
  <div>texto</div>
</div>

<style>
  .headerMainContent {
    height: 95 dvh;
    width: 100 dvh;
    display: flex;
    flex-direction: column;
  }
</style>