<div class="headerMainContent">
  <div>hola</div>
  <div>soy
  </div>
  <div>texto</div>
</div>

<style>
  .headerMainContent {
    height: 95vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    background-color: blue;
  }
</style>