<div class="videoMain">
  <div class="wraperVideo">
    <video
      src="{{section.settings.video.sources[1].url}}"
      muted
      controls></video>
  </div>
  {{ section.settings.coverImg | image_url: width: 1920 | image_tag: loading: 'lazy' }}
</div>

<style>

  .videoMain {
    display: grid;
    justify-items: center;
  }
  .wraperVideo video {
    width: 90vw;
  }
</style>



{% schema %}
  {
    "name": "Video",
    "class": "video-section",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Select your video"
      }, {
        "type": "image_picker",
        "id": "coverImg",
        "label": "Select your cover image"
      }
    ],
    "presets": [
      {
        "name": "Video"
      }
    ]
  }
{% endschema %}