<div class="videoMain">
  <div class="wraperVideo">
    <img
      id="coverImg"
      src="{{ section.settings.coverImg | image_url: width: 1920 }}"
      alt="Cover Image"
      loading="lazy" />
    <video
      id="videoPlayer"
      src="{{ section.settings.video.sources[1].url }}"
      muted
      controls></video>
  </div>
</div>

<style>
  .videoMain {
    display: grid;
    justify-items: center;
  }
  .wraperVideo {
    width: 90vw;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const coverImg = document.getElementById("coverImg");
    const videoPlayer = document.getElementById("videoPlayer");

    coverImg.addEventListener("click", function() {
      coverImg.style.display = "none";
      videoPlayer.play();
    });
  });
</script>