<div class="videoMain">
  <div class="wraper">
    <video
      src="{{section.settings.video.sources[1].url}}"
      muted
      controls></video>
  </div>
</div>

<style>
  .videoMain {
    display: grid;
    justify-items: center;
    margin-bottom: 120px;
  }
  .wraper video {
    width: 90vw;
  }
</style>



{% schema %}
  {
    "name": "Video",
    "class": "video-section",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Select your video"
      }
    ],
    "presets": [
      {
        "name": "Video"
      }
    ]
  }
{% endschema %}