<div class="videoMain">
  <div class="wraper">
    <iframe
      src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}"
      class="youtube"
      allow="autoplay; encrypted-media"></iframe>
  </div>
</div>

<style>
  .videoMain {
    display: grid;
    justify-items: center;
  }
</style>



{% schema %}
  {
    "name": "Video",
    "settings": [
      {
        "type": "video_url",
        "id": "video_url",
        "accept": ["youtube"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "label": "URL",
        "info": "Video plays in the page."
      }

    ],
    "presets": [
      {
        "name": "Video by URL"
      }
    ]
  }
{% endschema %}