<div>
  <div class="wraper">
    <video
      src="{{section.settings.video.sources[1].url}}"
      loop
      muted
      playsinline
      autoplay></video>
  </div>
</div>

<style></style>



{% schema %}
  {
    "name": "Video",
    "class": "video-section",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "A Shopify-hosted video"
      }
    ],
    "presets": [
      {
        "name": "Video"
      }
    ]
  }
{% endschema %}